<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy & policy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container"><a href="#" class="navbar-brand d-flex align-items-center"> <i class="fa fa-snowflake-o fa-lg text-primary mr-2"></i><strong>HIRE <i>SPACZ</i> </strong></a>
         
         
      </nav>
      
      <div class="bg-light">
        <div class="container py-5">
          <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
              <h1 class="display-4">Privacy and Policy</h1>
              <p class="lead text-muted mb-0"><b>Backgroud</b></p>
              <p class="lead text-muted">
                Hire spacz is the ultimate mobile parking application (“App”) for  Android. 
                
                Your privacy is important to us. We have developed this Privacy Statement so you know how we collect, use, disclose, transfer and store your data. Please read the following carefully.
                
                In order to improve our service we may need to change certain aspects of this policy from time to time. You will be notified at each change.
                
                By continuing to use our App or our Website you have consent to this privacy policy.
              </p>
            </div>

         
          </div>
        </div>
      </div>
      
      <div class="bg-white py-5">
        <div class="container py-5">
          <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1 " >
              <h2 class="font-weight-light">PreBooking Car Park Spaces With Off Street Provider</h2>
              <p class="font-italic text-muted mb-4">
                In order to complete your car park booking we need to transfer relevant details to the car park providers booking system. This may include information such as your name, your contact details, your car make, your vehicle registration number, and your payment card details. By using the AppyParking app or website you are agreeing to the terms of the car park provider. For copies of a car park providers terms and conditions please contact the provider directly. In order process your payment the AppyParking app uses CyberSource & Visa bespoke payment platform. The payment platform will tokenise your card details and then use them to make payment to a car park provider or council depending on the type of parking you have selected. Cashless Payment Parking is fully PCI Compliant.
           
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2 "><img src="/static/img/tnc/10996.jpg" alt="" class="img-fluid mb-4 mb-lg-0 " ></div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="/static/img/tnc/Wavy_Tech-24_Single-01.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6 "><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
              <h2 class="font-weight-light">Cashless Payment Parking</h2>
              <p class="font-italic text-muted mb-4" >In order process your cashless payment for an on street parking space the AppyParking app uses Cyber Source & Visa bespoke payment platform. The payment platform will tokenise your card details and then use them to make payment to a car park provider or council depending on the type of parking you have selected. Cashless Payment Parking is fully PCI Compliant.</p>
            </div>
          </div>
          <div class="container py-5">
            <div class="row align-items-center mb-5">
              <div class="col-lg-6 order-2 order-lg-1 "><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">What If We Change Our Business Ownership or Control</h2>
                <p class="font-italic text-muted mb-4">
                  We may expand or reduce our business and this may involve the sale and/or the transfer of control of all or part of AppyParking. Data provided by you will, where it is relevant to any part of our business so transferred, be transferred along with that part and the new owner or newly controlling party will, under the terms of this Policy, be permitted to use the data for the purposes for which it was originally supplied to us.
  
                  In the event that any data submitted by you is to be transferred we will not be able to contact you in advance and inform you of the changes and you will not be given the choice to have your data deleted or withheld from the new owner or controller.
             
              </div>
              <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/static/img/tnc/Wavy_Tsp-02_Single-09.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            </div>
        
      
        </div>
        
      </div>

      
        
      <footer class="bg-light pb-5">
        <div class="container text-center">
          <p class="font-italic text-muted mb-0">&copy; Copyrights HIRESPACZ All rights reserved.</p>
        </div>
      </footer>
</body>
</html>