<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Condition</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
   
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container"><a href="#" class="navbar-brand d-flex align-items-center"> <i class="fa fa-snowflake-o fa-lg text-primary mr-2"></i><strong>HIRE <i>SPACZ</i> </strong></a>
         
         
      </nav>


        
      <div class="bg-light">
        <div class="container py-5">
          <div class="row h-100 align-items-center ">
            
              <h1 class="display-5">Terms & Conditions</h1>
              <p class="lead text-muted mb-0"><b></b></p>
              <p class="lead text-muted" style="font-size: 18px;">
                Please read these terms and conditions carefully before using HIRE<i>SPACZ</i> and it's subdomain.

                By registering your details with the Website or using any services provided by the Company ("the Services") in any way, you ("the User" or "you") agree to be bound by the following terms and conditions ("the Terms and Conditions").
                
                You must read and accept all the Terms and Conditions. If you do not accept all the Terms and Conditions you must leave the Website and no longer use or access the Website.
                
                The Company may amend or terminate the Services from time to time for any reason, without notice, including but not limited to, the right to terminate with or without notice, with no liability to the User any other User or any third party. The Company also maintains the right to amend these Terms and Conditions from time to time without notice. All amendments will be binding upon existing Users therefore Users are advised to review these Terms and Conditions on a regular basis.
              </p>
            </div>

         
          </div>
        </div>
      </div>
      
      <div class="bg-white py-5">
        <div class="container py-5">
          <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1 " >
              <h2 class="font-weight-light">Breach</h2>
              <p class="font-italic text-muted mb-4">
                In the event that the User breaches these Terms and Conditions the Company has the right to limit your activity on the Website, immediately issue a warning, suspend or terminate your User registration or any of the User's listed parking spaces and refuse to provide any of the Services to the User without notice to the User.
           
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2 "><img src="/static/img/tnc/20642.jpg" alt="" class="img-fluid mb-4 mb-lg-0 " ></div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="/static/img/tnc/50426.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6 "><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
              <h2 class="font-weight-light">Information submitted by the User</h2>
              <p class="font-italic text-muted mb-4" >In order process your cashless payment for an on street parking space the AppyParking app uses Cyber Source & Visa bespoke payment platform. The payment platform will tokenise your card details and then use them to make payment to a car park provider or council depending on the type of parking you have selected. Cashless Payment Parking is fully PCI Compliant.</p>
            </div>
          </div>
          <div class="container py-5">
            <div class="row align-items-center mb-5">
              <div class="col-lg-6 order-2 order-lg-1 "><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Entire Agreement</h2>
                <p class="font-italic text-muted mb-4">
                    These Terms and Conditions and the other documents entered into contemporaneously with or pursuant to them, constitutes the entire agreement and understanding between the parties and supersedes any previous agreement or understanding between the parties with respect to all matters referred to in them.
             
              </div>
              <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/static/img/tnc/20943714.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            </div>
        
      
        </div>
        
      </div>

      
        
      <footer class="bg-light pb-5">
        <div class="container text-center">
          <p class="font-italic text-muted mb-0">&copy; Copyrights HIRESPACZ All rights reserved.</p>
        </div>
      </footer>
    
</body>
</html>